@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 286 100% 95%;
    --foreground: 286 5% 10%;
    --card: 286 50% 90%;
    --card-foreground: 286 5% 15%;
    --popover: 286 100% 95%;
    --popover-foreground: 286 100% 10%;
    --primary: 286 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 286 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 248 30% 85%;
    --muted-foreground: 286 5% 38%;
    --accent: 248 30% 80%;
    --accent-foreground: 286 5% 15%;
    --destructive: 0 100% 38%;
    --destructive-foreground: 286 5% 90%;
    --border: 286 30% 50%;
    --input: 286 30% 38%;
    --ring: 286 88% 58%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 286 50% 10%;
    --foreground: 286 5% 90%;
    --card: 286 50% 10%;
    --card-foreground: 286 5% 90%;
    --popover: 286 50% 5%;
    --popover-foreground: 286 5% 90%;
    --primary: 286 88% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 286 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 248 30% 25%;
    --muted-foreground: 286 5% 60%;
    --accent: 248 30% 25%;
    --accent-foreground: 286 5% 90%;
    --destructive: 0 100% 38%;
    --destructive-foreground: 286 5% 90%;
    --border: 286 30% 38%;
    --input: 286 30% 38%;
    --ring: 286 88% 58%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
